* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px;
  text-align: left;
  padding: 10px;
  background-color: red;
  cursor: pointer;
  border-radius: 10px;
  transition-property: color, background;
  transition: 1s ease;
}

h1:hover {
  color: red;
  background-color: black;
}
