.btn-one {
  color: red;
  background-color: black;
}

.btn-two {
  color: blue;
  background-color: black;
}

.btn-three {
  color: black;
  background-color: black;
}

h2.one {
  background-color: rgb(199, 33, 33);
  padding: 10px;
  color: white;
}

h2.two {
  color: blue;
  padding: 10px;
  border: 2px solid blue;
}

p {
  padding: 10px;
}

p:nth-of-type(1) {
  font-size: 20px;
}

p:nth-of-type(2) {
  font-size: 25px;
}

p:nth-of-type(3) {
  font-size: 30px;
}